/***************** icons ****************************/
@font-face {
	font-family: 'icomoon';
	src:url('icons/icomoon.eot?46txtg');
	src:url('icons/icomoon.eot?46txtg#iefix') format('embedded-opentype'),
		url('icons/icomoon.ttf?46txtg') format('truetype'),
		url('icons/icomoon.woff?46txtg') format('woff'),
		url('icons/icomoon.svg?46txtg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[id^="icon-hamburger"], [id*="icon-hamburger"] {
	font-family: 'icomoon';
	font-size: 35px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#icon-hamburger:after {
  /*content: "\e912";*/
	content: "\e913";
}
#icon-hamburger {
  color: black;
  margin-left: 5px;
  margin-top: 5px;
}

html{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
  cursor: pointer;
  transition: opacity ease .2s;
}

a:hover {
  opacity: .82;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img{
  width: 300px;
  height: 150px;
}

#nav-icon{
  display: none;
  position: absolute;
  top: 12px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: white;
}

/**************** Top navigation ****************/
#top{
  display: inline-flex;
  width: 100%;
  height: 70px;
  height: auto;
}

#top p{
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 300;
  width: 25%;
  text-align: right;
  border-bottom: 1px solid #777;
  margin-top: 0px;
  padding-top: 15px;
  margin-bottom: 20px;
  /*padding-bottom: 20px;*/
}
#top p a{
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 300;
  text-align: right;
  padding: 0px;
}

#top nav {
  display: inline-flex;
  position: relative;
  width: 75%;
  padding-top: 20px;
  padding-bottom: 20px;
}
#top nav ul {
  display: inline-flex;
  width: 70%;
  padding-left: 30%;
  border-bottom: 1px solid #777;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}
#top nav ul a{
  width: 105px;
  padding-top: 3px;
  padding-bottom: 17px;
  text-align: center;
}
#top a {
  font-style: normal;
  font-size: 13px;
  font-weight: 100;
  font-family: 'Arvo';
  color: black;
  text-align: center;
}
/**************** End top navigation *************/

/**************** projects content *************/
#projects-content{
  display: block;
  width: 100%;
  /*margin-top: 5px;*/
}
#projects-content p{
  width: 100%;
  text-align: center;
  font-family: "Arvo";
  font-size: 28px;
  margin-bottom: 0px;
  margin-top: 20px;
  transition: margin-top 0.3s linear;
}
#projects-content nav{
  display: block;
  position: relative;
  width: 850px;
  padding-top: 5px;
  padding-bottom: 20px;
  margin: auto;
}
.center{
  width: 36pc;
  margin: 0 auto;
}
#projects-content nav ul {
  display: block;
  width: 100%;
}
#projects-content nav ul li{
  display: inline-flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#projects-content nav ul li p{
  font-family: "Lato";
  font-size: 17px;
  text-align: left;
  width: 100%;
  padding-left: 25px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#projects-content a {
  font-style: normal;
  font-size: 13px;
  font-weight: 100;
  font-family: 'Arvo';
  color: black;
  text-align: center;
}

/**************** End projects content *************/


/**************** about content *************/
#about-content{
  display: block;
  width: 100%;
  /*margin-top: 5px;*/
}
#about-content img{
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  /*margin-top: 5px;*/
}
#about-content p{
  width: 100%;
  text-align: center;
  font-family: "Arvo";
  font-size: 28px;
  margin-bottom: 0px;
  margin-top: 20px;
}
#about-content div {
  display: block;
  position: relative;
  width: 850px;
  padding-top: 5px;
  padding-bottom: 20px;
  margin: auto;
}
#about-content div div{
  display: inline-flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#about-content div div div{
  display: inline-flex;
  width: 150px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#about-content div p{
  font-family: "Lato";
  font-size: 17px;
  text-align: left;
  width: 100%;
  padding-left: 25px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#about-content a {
  font-style: normal;
  font-size: 13px;
  font-weight: 100;
  font-family: 'Arvo';
  color: black;
  text-align: center;
}

#contact-container p {
	width: 100%;
  text-align: center;
  font-family: "Arvo";
  font-size: 28px;
  margin-bottom: 0px;
  margin-top: 20px;
}
/**************** End about content *************/

/* Projects Content */
@media screen and (max-width: 860px) {

    #projects-content nav{
        width: 100%;
    }
    #projects-content nav ul li{
        display: block;
    }
    #projects-content nav ul li div{
        margin:auto;
        padding-left: 0px;
        width: 300px;
        margin-bottom: 15px;
    }
    #projects-content nav ul li div a{
        margin:auto;
        text-align: center;
    }
    #projects-content nav ul li div img{
        margin:auto;
        text-align: center;
    }
    #projects-content nav ul li p{
        margin:auto;
        padding-left: 0px;
        width: 60%;
    }

    #about-content{
        width: 100%;
    }
    #about-content img{
        margin:auto;
        text-align: center;
    }
    #about-content p{
      margin-bottom: 0px;
      margin-top: 20px;
    }
    #about-content div {
      width: 500px;
      margin: auto;
    }
    #about-content div div{
      display: block;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    #about-content div div div{
      width: 100%;
      margin-top: 0px;
      padding-top: 0px;
    }
    #about-content div p{
      text-align: left;
      width: 100%;
      padding-left: 5px;
    }
}

/* Top navigation */
@media screen and (max-width: 640px) {

    #top{
      display: block;
    }
    hr{
      margin-top: -15px;
    }
    #nav-icon{
      display: block;
    }
    #top p{
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 15px;
    }
    #top nav{
        width: 100%;
        padding-top: 0px;
    }
    #top nav ul{
      width: 100%;
      padding-left: 0px;
      border: none;
      visibility: hidden;
      opacity: 0;
    }
		#top nav ul a{
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #777;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    #projects-content p{
      margin-top: -20px;
    }
		#projects-content nav ul li p{
			width: 70%;
		}
    #about-content p{
      margin-bottom: 0px;
      margin-top: -20px;
    }
    #about-content div {
      width: 400px;
			width: 80%;
      margin: auto;
    }

    .content-up{
      margin-top: -20px !important;
      transition: margin-top 0.3s linear;
    }
    .content-down{
      margin-top: 0px !important;
      transition: margin-top 0.3s linear;
    }
}

/* Top Navigation */
@media screen and (min-width: 640px) {
    #top nav ul{
      display: inline-flex !important;
      visibility: visible !important;
      opacity: 1 !important;
    }
}

/* Top Navigation */
@media screen and (max-width: 460px) {
    #top nav{
      width: 100%;
      padding-top: 0px;
    }
    #top nav ul{
      width: 100%;
      padding-left: 0px;
      display: block;
      border: none;
      visibility: hidden;
      opacity: 0;
    }
    #top nav ul li{
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #777;
      padding-top: 10px;
      padding-bottom: 10px;
    }
		#top nav ul a{
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #777;
      padding-top: 10px;
      padding-bottom: 10px;
    }
		#projects-content nav ul li p{
			width: 85%;
		}
    #projects-content p{
      margin-top: -200px;
    }
    #about-content #title{
      margin-top: -200px;
    }
    #about-content div {
			/*width: 300px;*/
      width: 85%;
      margin: auto;
    }
		.center{
		  width: 95%;
		}
    .content-up{
      margin-top: -180px !important;
      transition: margin-top 0.3s linear;
    }
    .content-down{
      margin-top: 0px !important;
      transition: margin-top 0.3s linear;
    }
}

.collapse{
  visibility: hidden !important;
  opacity: 0 !important;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.expand{
  visibility: visible !important;
  opacity: 1 !important;
  transition: visibility 0.3s, opacity 0.3s linear;
}
